.food-list-container {
  padding: 2rem;
  min-height: 100vh;
  font-family: "Georgia", serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.date {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.empty-box {
  border: 1px dashed #333;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  margin: 2rem auto;
  max-width: 600px;
  background-color: #fff9d5;
}

.empty-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-add {
  background-color: #4fc3f7;
  color: white;
}

.btn-delete {
  background-color: #a29b9b;
  color: white;
}
