.direct-button {
  background-color: #f59e0b !important;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.direct-button:hover {
  background-color: #b5560e;
}

.card-custom {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card-custom:hover {
  transform: translateY(-5px);
}
.icon-circle {
  background-color: #fef3c7;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.icon-circle svg {
  color: #f97316;
  width: 24px;
  height: 24px;
}
.card-body {
  padding: 1.5rem;
}
