

.login-page {
  height: 100vh;
  background-color: #fdf0b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title {
  color: #cc6600;
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  background-color: #FFB35C;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  height: 300px;
  border-radius: 15px;
  position: relative;
}

.login-label {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: left;
  position: relative;
  left: 5px;
}

.login-label.email {
  bottom: 10px;
  margin-bottom: -10px;
}

.login-label.password {
  margin-bottom: -5px;
}

.login-input {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #FFB1B1;
  font-size: 16px;
  height: 27px;
}

.login-button {
  margin-top: 78px;
  padding: 10px;
  background-color: #F7E255;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 64px;
  font-family: "Playfair Display", serif;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 14px;
  right: 24px;
}
