body {
  background: linear-gradient(to bottom, #fffae8, #fef6d3);
  min-height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 1rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
